.transition-right-02 {
  transition: right 0.2s;
}

.object-fit-fill {
  object-fit: fill;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-none {
  object-fit: none;
}

.object-fit-scaleDown {
  object-fit: scale-down;
}

.txt-dec-none:hover {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs21 {
  font-size: 21px;
}

.fs22 {
  font-size: 22px;
}

.fs23 {
  font-size: 23px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.fs32 {
  font-size: 32px;
}

.fs100 {
  font-size: 100px;
}

.color-inherit {
  color: inherit
}

.color-black {
  color: black
}

.color-40 {
  color: #404040;
}

.color-60 {
  color: #606060;
}

.color-gray {
  color: gray;
}

.color-lightgray, .hover-color-lightgray:hover {
  color: #A8A8A8;
}

.color-darkgray {
  color: #6c757dad;
}

.color-red, .hover-color-red:hover {
  color: #E05432;
}

.hover-color-black:hover {
  color: black
}

.color-blue {
  color: #6197B7;
}

.color-yellow {
  color: #FFC107;
}

.color-green {
  color: #28A745
}

.color-haki {
  color: #3cbc98
}

.color-viber, .hover-color-viber:hover {
  color: #675da9
}

.color-whatsapp, .hover-color-whatsapp:hover {
  color: #00e676
}

.color-telegram, .hover-color-telegram:hover {
  color: #34abe0
}

.hover-bg-lightgray:hover {
  background: lightgray;
}

.bg-lightgreen {
  background: lightgreen;
}

.bg-green {
  background: #28A745
}

.scrollbar-none::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.hover-rounded {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background: lightgray;
    text-decoration: none;
  }
}

.br10 {
  border-radius: 10%;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

// Запретить взаимодействие с пользователем
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.w-48 {
  width: 48%;
}

.w30 {
  width: 30px
}

.w36 {
  width: 36px;
}

.w40 {
  width: 40px
}

.w70 {
  width: 70px;
}

.w75 {
  width: 75px;
}

.w90 {
  width: 90px;
}

.w100 {
  width: 100px;
}

.w120 {
  width: 120px;
}

.w130 {
  width: 130px;
}

.w170 {
  width: 170px;
}

.w180 {
  width: 180px;
}

.w190 {
  width: 190px;
}

.w210 {
  width: 210px;
}

.w230 {
  width: 230px;
}

.w220 {
  width: 220px;
}

.w440 {
  width: 440px;
}

.h33 {
  height: 33px;
}

.h34 {
  height: 34px;
}

.h36 {
  height: 36px;
}

.h210 {
  height: 210px;
}

.img-card {
  width: 150px;
  height: 100px;
}

.img-lg {
  width: 92px;
  height: 92px;
}

.img-md {
  width: 60px;
  height: 60px;
}

.img-sm {
  width: 43px;
  height: 43px;
}

.img-xs {
  width: 37px;
  height: 37px;
}

.img-ss {
  width: 26px;
  height: 26px;
}

.wh24 {
  width: 24px;
  height: 24px;
}

.wh26 {
  width: 26px;
  height: 26px;
}

.wh50 {
  width: 50px;
  height: 50px;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.wmax-50 {
  max-width: 50%;
}

.wmax-100 {
  max-width: 100%;
}

.pl26 {
  padding-left: 26px;
}

.p-10-15 {
  padding: 10px 15px;
}

.p-10-0 {
  padding: 10px 0;
}

.p10{
  padding: 10px;
}

.ml26 {
  margin-left: 26px;
}

.m10{
  margin: 10px;
}

.border-gray-3 {
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  padding: 5px 10px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.inside-element {
  position: absolute;
  top: 0;
  right: 0;
}

.table-middle td {
  padding: .5rem;
}

.text-pre {
  white-space: pre;
}

.text-nowrap {
  white-space: nowrap;
}

.lh-1 {
  line-height: 1
}

.hr {
  border-bottom: 1px solid #F3F3F3
}

.opacity-0 {
  opacity: 0;
}

.text-crop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clear-a, .clear-a:hover {
  all: unset;
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: underline;
}
.link:hover {
  color: #007bff;
  text-decoration: underline;
}

.break-word {
  word-break: break-word
}

