%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

%inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

%mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
}