<div class="p-3">
    <div class="accordion" id="accordionExample">
	<center><div><strong><h3>Теория</h3></strong></div></center>
		<div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Как обезопасить владельца от плохого сьемщика?
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
				<ul>
<li>Проверить паспорт на наличие судимостей</li>
<li>Активно жестикулирует либо ведет себя неуверенно</li>
<li>Задавать как можно больше вопросов</li>
<li>Застраховать имущество</li>
</ul>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="heading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Пустой
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Текст ответа 3
                </div>
            </div>
        </div>
    </div>


</div>