<div class="p-3">
    <div class="accordion" id="accordionExample">
		<div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseThree">
                        Дорого
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                    <li>Тот кто берет меньше, тот или новичок или невыполняет необходимый объем и активность поиска</li>
<li>Если вы хотите купить по рыночной цене, а не на 20-30% дороже мониторя только OLX, то в ваших интересах нанять опытного риэлтора, который не только знает цены по району, а делает поиск по всем возможным истоничкам и умеет конструктивно торговаться с собственниками. Это значит, что опытный риэлтор сможет выявить понижение цены той недвижимости, которая пока еще стоит выше рыночной</li>
<li>Скажите, относительно чего дорого? У нас в Кривом Роге комиссия со стороны продавца составляет также 500 долларов, но минимум 5%. А со стороны покупателя всего 500 долларов, внезависимости от стоимости недвижимости.</li>
<li>Первоначальный подбор под ваши критерии занимает в среднем 4 часа. Далее мы с вами едем на просмотр этих вариантов, на организацию которого также уходит до 4 часов. И это я вам описал лишь первый мой рабочий день с вами.</li>
<li>Могу кратко рассказать о выгодах сотрудничества с нами:</li>
<ul>
<li>Вы в числе первых будете узнавать о новых предложениях</li>
<li>Мы занимаемся поиском несмотря на наличие у нас договора с продавцом</li>
<li>До показа выявляем наличие проблем с документами у продавца</li>
<li>Контролируем процесс завершения сделки между вами и продавцом</li>
</ul>
<li>Примерные траты времени на одного покупателя за месяц составляют 90 часов<br><img src="https://crm.realtygroup.biz/images/timeleft.PNG" alt="альтернативный текст">
</li>
</ul>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseThree">
                        Я не хочу подписывать договор
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                     <ul>
					<li>Cкажите, у вас был негативный опыт работы с рилторами, с которыми вы подписали договор?
                    <li>Я готов выступить в роли вашего личного риэлтора, но не смогу приступить к активному поиску если не будет гарантий оплаты труда. Вы ведь официально получаете зарплату?</li>
					<li>Мы работаем по стандартной системе договорных отношений. Если вас будет смущать какой-то из пунктов, мы готовы рассмотреть его корректировку. Такой вариант сотрудничества рассмотрим?</li>
					<li>Договор лишь документирует наши с вами устные договоренности. Там прописаны также и наши обязательства перед вами, за невыполнение которых мы несем ответсвенность.</li>
					<li>Можно уточнить, вы переживаете что мы будем прикладывать недостаточно усилий для поиска, или причина в другом?</li>
					</ul>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Сперва найдите, а потом поговорим
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                   <ul>
				   <li>Хорошо, первоначальный подбор под ваши критерии по всем источникам и нашим партнерам, занимает в среднем 4 часа. Скажите, вы готовы потратить 4 часа на работе, без гарантий оплаты?</li>
				   <li>Мы Агентство Недвижимости и процессы работы у нас отлажены, но начинаются они с подписания договорных отношений. А те кто соглашаются сперва искать, скорее всего ищут лишь по первым 3 сайтам обьявлений, тратя 15 минут. А на сегодня такие действия не представляют ценности, для вас как покупателя, верно?</li>
				   <li>Как вы считаете, сколько времени занимает обзвон всех партнеров, расклейка обьявлений, просмотр всех интернет сайтов и газет города, примерно?</li>
				   <li>Я готов выступить в роли вашего личного риэлтора, но не смогу приступить к активному поиску если не будет гарантий оплаты труда.</li>
				   </ul>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Мне с OLX не предлагайте
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                   <ul>
				   <li>Я вам нужна не для копирования фотографий с OLX, а для определения реальной цены этой квартиры. У нас есть статистика по ценам за которые квартиры продались, и это совсем не те цены что на OLX.</li>
				   <li>Также я часто узнаю о снижении цены на квартиру за несколько дней до того, как собсвтенник решил понизить ее в обьявлении. Это происходит в процессе переговоров с покупателями, которые начинают затягивать с внесением задатка.</li>
				   <li>Каждая четвертая квартира имеет проблемы с документами, которые собственники не хотят начинать решать пока не получат задаток. За счет ежедневного мониторинга рынка мы знаим о них. А вы, смотря только OLX, думаете что все что там выставленно можно купить уже сегодня.</li>
				   <li>Недвижимость это не чулки. Каждая квартира имеет как ряд достоинств так и недостатков, которые я могу выявлять только потому, что каждый день с ними сталкиваюсь. </li>
				   
				   </ul>
                </div>
            </div>
        </div>
    </div>


</div>