<div class="p-3">
<center>
   <img width="80%" src="https://crm.realtygroup.biz/data/training/script1.png" alt="альтернативный текст">
   <img width="80%" src="https://crm.realtygroup.biz/data/training/script2.png" alt="альтернативный текст">
</center>
</div>